@font-face {
  font-family: myFirstFont;
  src: url('./fonts/Exo2-VariableFont_wght.ttf');
}
@font-face{
  font-family: mySecondFont;

  src: url('./fonts/B612-Regular.ttf');
}
@font-face{
  font-family:impact ;
  src:url('./fonts/impact.ttf') ;
}
@font-face{
  font-family:arial ;
  src:url('./fonts/ARIAL.TTF') ;
}
@font-face{
  font-family:cute ;
  src:url('./fonts/Randomly\ Cute.otf') ;
}

*{
  margin:0;
 
  font-family:myFirstFont;

}
html,body{
  background-color: gainsboro;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  width: 100%;
  }
  h1{
    position: relative;
    left: 0%;
    font-size: 2rem;
  }
  .h{
    left: 40%;
    font-family: impact;
    font-size: 3.5rem;
    letter-spacing: 2px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .togglee {
    position: relative;
    padding: 10px 5px;
    
    display: flex;
    align-items: center;
  }
  
  input[type="checkbox"].checkbox {
    width: 40px;
    height: 10px;
    background: #555;
    position: relative;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    vertical-align: 2px;
    outline: none;
  }
  
  input[type="checkbox"].checkbox:checked + label {
    left: 30px;
  }
  
  input[type="checkbox"].checkbox:focus-visible {
    outline: solid 2px white;
  }
  
  input[type="checkbox"].checkbox + label {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
    position: absolute;
    left: 2px;
    background: #fff;
    opacity: 0.9;
    background-color: cyan;
  }
  
  .toggle-containerr {
    display: flex;
    margin: auto auto;
    margin-right: 0px;
    position: relative;
    left: -8%;
    overflow: hidden;
    height: 30px;
  }
  
  
  .toggle-containerr > span {
    font-size: 1.2em;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
    margin-top: 0px;
    margin-right: 2px;
  }
  
  
  .light-mode {
    background-color: #282a36;
    color: yellow;
    width: 100%;
    display: flex;
    overflow-x: hidden;
    padding: 15px;
    height: 60px;
    transition: background-color 0.25s ease-out;
  }
  
  
  .light-mode nav {
    transition: background-color 0.25s ease-out;
  }
  
  .dark-mode {
    width: 100%;
    display: flex;
    overflow-x: hidden;
    padding: 15px;
    height: 60px;
    background-color: #52606D;
    color: white;
  }
.App{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  margin: auto;
 
 
}
.App__left{
  display: flex;
  flex-direction: column;
  flex: 0.55;
  margin-bottom: 0px;
  width: auto;
}
.App__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
  
}

.App__header >h1{
  color: #fc3c3c;
  font-size: 1.7rem;
  }
  
  
h1 {
  margin: 0;
margin-right: 10px;

}
.g{
  font-family: arial;
  width: 100%;
}
  h3{
    font-size: 2rem;
    margin: 0px;
   
  }
.App__select{
  border: 2px solid black;
  background-color:black;
  margin-right: 0px;
  font-size: 20px;
  font-weight: bold;
  padding: 2px 10px;
  width: 150px;
  *width: 200px;
  height: 35px;

}
.App__dropdown{
  border: 2px solid yellow;
  background-color: white;
  width: 150px;
  margin-right: 10px;
  margin-left: 200px;
}
.App__code{
  width: 800px;
  height: 600px;
  margin-bottom: 20px;
  margin-top: 20px ;
  font-size: 1.15rem;
  padding: 10px;
  font-family:mySecondFont;
}
.App__buttons{
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: arial;
}

.App__right{
  display: flex;
  flex-direction: column;
  margin-top: 80px; 
}
.App__input{
  width: 800px;
  height: 200px;
  margin-bottom: 20px;
  font-size: 1.2rem;
  padding: 10px;
  font-family:mySecondFont;
}.App__output{
  width: 800px;
  height: 300px;
  font-size: 1.2rem;
  padding: 10px;
  font-family:mySecondFont;
}
.App__smallH{
  margin-bottom: 10px;
}

@media (max-width:900px){
  .App{
    width: 350px;
  }
  .App__input {
    width: 350px;
    font-size:1rem;
  }
  .App__output {
    width: 350px;
    font-size:1rem;
  }
  .App__code {
    width: 350px;
    font-size:1.1rem;
  }
  body{
    font-size:0.8rem;
  }
  .App__select{
    width: 110px;
    height: 25px;
  }
  .App__dropdown{
    width: 110px;
    height: 25px;
  }
  h1{
    font-size: 1.45rem;
  }
  .App__header>h1{
    font-size: 1.3rem;
  }
  h3{
    font-size: 1.5rem;
  }
  .h{
    font-size: 2.5rem;
    left:30%
  }
  .g{
    width:80%;
  }
  
  
}

@media(max-width:460px){
  .h{
    font-size:1.8rem;
  }
  .App__dropdown{
    width:90px;
    height: 25px;
  }
  
}